.labelBox {
    -fx-spacing: 15;
    -fx-alignment: BASELINE_RIGHT;
    -fx-background-color: rgb(255,255,255,.2);
}

.catagoryLabel {
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-font-size: 18;
    -fx-padding: 0 10 0 10;
}

VBox {
    -fx-alignment: BASELINE_LEFT;
    -fx-background-color: rgb(0,0,0,.4);
    -fx-spacing: 15;
    
}

Label {
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 18;
    -fx-padding: 0 10 0 10;
}

.scroll-pane > .viewport {
    -fx-background-color:transparent;
    -fx-control-inner-background: transparent;
}